*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
  }

  html {
    scroll-behavior: smooth;
  }
  
  
 body{
    background-color: rgba(1, 11, 37, 0.888);
    font-family: Arial, Helvetica, sans-serif;  
}
.container{
    height: 480px;
    background: url(../static/img/_25ad84b2-e6ef-490a-bd2e-ed041994c577.jpeg) center;
    background-size: cover;
    background-repeat: no-repeat;
}
  
header{
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.745);
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    
    
}
  
header div{
    display: flex;
    align-items: center;
}
.img img{
    width: 60px;
    border-radius: 50%;
}
  
ul.bnav{
    list-style: none;
    display: flex;
    align-items: center; 
    gap: 58px;
}
li.nav{
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: .5s ease;
}

.nav a {
    text-decoration: none;
    border: none; 
    color: white;
    
}
  
li.nav:hover{
    background-color: rgb(160, 70, 255);
    padding: 10px;
    border-radius: 20px;
}
  
.dcont{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
}
.blocodb{
    height: 250px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.745);
    display: flex;
    flex-direction: column; 
    border-radius: 20px;
    gap: 40px; 
    
    
}
  
.blocottl{
    margin: 0 auto;
    margin-top: 40px;
    color: white;
    text-align: center;
}
.blocottl h1{
    font-size: 30px;
    font-weight: bold;
    color: rgb(160, 70, 255);
}
  
  
form{
    height: 50px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    
}
  
input[type=text]{
    height: 51px;
    width: 100%;
    border-radius: 20px ;
    padding: 10px;
    
    
}
  
input[type=submit]{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    height: 50px;
    background: rgb(54, 31, 104);
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    color: white;
    transition: background 0.3s ease;
}
  
input[type=submit]:hover{
    background-color: rgb(160, 70, 255);  
}

.bltxt{
    width: 100%;
    height: 100px;
    padding: 10px;
}

.htx,.txt{
    text-align: center;
    margin: 10px;
    

}

.htx{
    color: rgb(160, 70, 255);
    font-weight: bolder;
    font-size: 40px;
}

.txt{
    max-width:800px ;
    margin: auto;
    padding-bottom: 40px;
    margin-bottom: 40px;
    color: white;
    text-shadow: 7px 7px 15px  rgba(137, 43, 226, 0.847);

}

.navgame{
    width: 100%;
    text-align: center;
    margin-top: 80px;
}

.navgame a{
    padding: 10px;
    margin: 0 20px;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bolder;
    transition: background 0.5s ease;
}

.navgame a:hover{
    background-color: rgb(160, 70, 255);
    padding: 10px;
    border-radius: 20px;
}


.blgame{
    width: 100%;
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction:row ;
    
}
.destaque{
    background-color: #3498db;
    height: 550px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    

}

.contgame{
    box-shadow: 2px 2px 10px 3px rgba(137, 43, 226, 0.596);
}



.contgame h1{
    width: 400px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid white;
}

.destgame{
    flex: 1 0 200px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} 


.ulgame{
    margin: 20px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
    border-collapse: collapse;
    box-shadow: 2px 2px 10px 3px rgba(137, 43, 226, 0.596);
    overflow-y: scroll;
}
.ulgame::-webkit-scrollbar{
    width: 6px;
    background: #f4f4f43e;
    

}

.ulgame::-webkit-scrollbar-thumb{
    background: #dad7d7e3;
}

.ligame{
    flex-grow: 1;
    flex-basis: 200px;
    width: 150px;
    height: 200px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 167, 167);
    border: 1px solid white;
    cursor:pointer;
}

.ligame img{
    width: 300px;
    height: 100%;
}




.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer{
    background-color: rgb(132, 181, 254);
    text-align: center;
    padding: 2px;
}