<!DOCTYPE html>
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="" type="image/x-icon">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="shortcut icon" href="img/logo.jpeg" type="image/x-icon">
  <title>Game tools</title>
  
</head>
<body>
       
              <section class="container" id="inicio">
                  <header>
         
                      <div class='img'>
                          <img src="../static/img/logo.jpeg" alt="logo" >
                          <h1>Game tools</h1>
                      </div>
                      <nav>
                          <ul class="bnav">
                              <li class="nav"><a href="#inicio">Home</a></li>
                              <li class="nav"><a href="#jogo">Jogos</a></li>
                              <li class="nav">Suporte</li>
                              <li class="nav">Favoritos</li>
                          </ul>
                      </nav>
                  </header>
         
                  <section class='dcont'>
                      <div class="blocodb">
                          <div class="blocottl">
                              <h1>Os melhores jogos</h1>
                              <h2>para voce</h2>
                          </div>
                          <form action="">
                              <input type="text" name="pesquisar" id="bcgame" placeholder='Pesquisar' >
                              <input type="submit" value="Buscar" >
                          </form>
                      </div>
                  </section>
              </section>
         <main>
           
                <section>

                  <div class="bltxt">
                    <h1 class="htx">Jogos para Todas as Idades</h1>
                    <p class="txt">
                      Seja você um jovem aventureiro ou um jogador experiente, temos algo especial para todos! Navegue por nossa coleção de jogos e descubra mundos mágicos, desafios emocionantes e quebra-cabeças intrigantes. Aqui, a diversão não tem limite de idade!
                    </p>
                  </div>
                  <aside class="navgame">
                    <a href="">RPG</a>
                    <a href="">Terror</a>
                    <a href="">Aventura</a>
                    <a href="">Tiros</a>
                    <a href="">Luta</a>
                  </aside>
                  <article class="blgame">
                    <div class="contgame">
                      <h1>Destaque</h1>
                      
                        <aside class="destaque">
                        
                          <div class="destgame">
                            <div class="loader"></div>
                          </div>
                          <div class="destgame">
                            <div class="loader"></div>
                          </div>
                          <div class="destgame">
                            <div class="loader"></div>
                          </div>
                        
                                            
                        
                        </aside>
                        
                      

                    </div>
                    <ul class="ulgame" id="jogo">
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>
                      <li class="ligame"><div class="loader"></div></li>


                    </ul>
           
                  </article>
                </section>
         </main>
         
         
              <footer>
                <p>Criado por Davidson William da Silva</p>
              </footer>
       
            
  <script src="script/script.js"></script>
</body>
</html>